

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100px;
    align-self: flex-end;
}

.button {
    cursor: pointer;
    transition: 0.2s;
}

.button i:active {
    margin-top: 2px;
    transition: 0.2s;
}